//text

$text-primary: #000000;
$text-secondary: #464646;
$text-tertiary: #1B1B1B;

$text-on-dark-primary: #FFFFFF;
$text-on-dark-secondary: #FEFEFE;

//buttons

$button-control: #464646;
$button-control-text: #FFFFFF;
$button-control-hover: #696969;
$button-control-active: #2E2E2E;

$button-accent: #CDAC9B;
$button-accent-text: #FFFFFF;
$button-accent-hover: #EAC3AE;
$button-accent-active: #B19587;

$card-frame-border: #D9DAF2;

-A
