services:
    postgres:
        image: postgres:15-alpine
        container_name: postgres_db
        environment:
            POSTGRES_DB: dbcm
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - app-network

    pgadmin:
        image: dpage/pgadmin4
        container_name: pgadmin
        environment:
            PGADMIN_DEFAULT_EMAIL: admin@crematorium.com
            PGADMIN_DEFAULT_PASSWORD: admin
        ports:
            - "8080:80"
        depends_on:
            - postgres
        networks:
            - app-network

    backend:
        build:
            context: ..
            dockerfile: deploy/back/Dockerfile
        container_name: laravel_backend
        volumes:
            - ../backend/laravel:/var/www/html
        environment:
            DB_HOST: postgres
            DB_DATABASE: dbcm
            DB_USERNAME: postgres
            DB_PASSWORD: postgres
        ports:
            - "9000:9000"
        depends_on:
            - postgres
        command: >
            sh -c "echo 'Starting the build...';
            echo 'Установка зависимостей...';
            composer install --prefer-dist --no-progress --no-suggest --optimize-autoloader;
            echo 'Установка миграций...';
            php artisan migrate:fresh --force;
            echo 'Установка тестовых данных';
            php artisan db:seed;
            echo 'Запуск сервера...';
            php artisan serve --host=0.0.0.0 --port=9000"
        networks:
            - app-network


    frontend:
        build:
            context: ..
            dockerfile: deploy/front/Dockerfile
        container_name: frontend_app
        volumes:
            - ../frontend:/app
            - /app/node_modules
        ports:
            - "5137:5137"
        environment:
            - CHOKIDAR_USEPOLLING=true
        stdin_open: true
        tty: true
        depends_on:
            - backend
        networks:
            - app-network

    nginx:
        image: nginx:alpine
        container_name: nginx_proxy
        ports:
            - "80:80"
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf
            - ../backend/laravel:/var/www/html
        depends_on:
            - backend
            - frontend
        networks:
            - app-network

volumes:
    postgres_data:

networks:
    app-network:
        driver: bridge
