@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  src:
    local('Inter'),
    url('Inter.woff2') format('woff2'),
    url('Inter.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-display: swap;
  src:
    local('Inter'),
    url('Inter-Italic.woff2') format('woff2'),
    url('Inter-Italic.woff2') format('truetype');
}
