//text

$text-primary: #000000;
$text-primary-hover: #2b2b2b;
$text-secondary: #464646;
$text-tertiary: #1b1b1b;

$text-on-dark-primary: #ffffff;
$text-on-dark-secondary: #fefefe;

//buttons

$button-control: #464646;
$button-control-text: #ffffff;
$button-control-hover: #696969;
$button-control-active: #2e2e2e;

$button-accent: #cdac9b;
$button-accent-text: #ffffff;
$button-light-accent-hover: #fff7f2;
$button-accent-hover: #eac3ae;
$button-accent-active: #b19587;

$button-hover: #e2e2e2;

$button-cross-hover: #ececec;
$button-cross-active: #b7b7b7;

//input

$input-placeholder: #464646;
$input-hover-placeholder: #696969;
$input-active-caret: #2e2e2e;

//card-frame

$card-frame-border: #d9daf2;
$card-frame-background: #fefefe;
$card-frame-shadow: rgba(#7c7c7c, 0.25);

//delete-button

$delete-hover: #f57c7c;
$delete-active: #e74545;

//alt-button

$alt-hover: #d9daf2;
$alt-active: #c3c5ef;
